/*nav_bar Styling*/
.nav_bar{
    
    width: 100%;
    height:80px;
    
   }
.logo{
    width:48%;
    margin-top: 10px;
    
}
.logo a{
    color: rgb(68, 175, 19);
    font-size:40px;
    text-decoration: none;
    margin:10px;
}
.menu{
    
    height: 40px;
    width:48%;
}
.menu li{
    display:inline;
    width:40px;
    margin-top: 10px;
    
}
.menu li a{
    color:#882929;
    text-decoration:none;
    padding:10px 20px;
    font-size: 20px;
    
}
.nav_bar{
    display: flex;
}
/*navbar styling close*/

/*home section styling*/


.half_width{
    width:50%;
    padding:5%;
}
h1{
    font-size: 40px;
    color:rgb(31, 43, 13);
}
h2{
    color:indigo;
}
h3{
    color:mediumpurple;
}
p{
    text-align: justify;
    color:rgb(39, 64, 90)
}
.half_width img{
    width:100%;
    text-decoration: none;
    border:20px solid rebeccapurple;
    box-shadow: 5px 10px 30px insert;

}
.link_button{
    text-decoration: none;
    background-color: rgb(181, 199, 18);
    padding:10px 40px;
    border-radius: 10px;
}
.display_flexible{
    display:flex;
}
.ex-item{
    width:40%;
    padding:5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    border:10px solid;
}
.exparience_area{
    background-image:url(Img/exp-bg.png);
    background-repeat:no-repeat;
    background-position-y:center;
}
.ex-h1{
    color:rgb(255, 0, 170);
    margin-left:5%;
}

footer p{
    text-align: center;
}
